* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.site {
	display: grid;
	grid-template-rows: 5;
	grid-template-columns: 12;
}

.navbar {

}

.masthead {

}

.recent-posts {

}

.main-content {

}

.aside {

}

.footer {

}
